// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  height 100%

body
  font normal 1em sans-serif
  vertical-gradient #eee, #fff
  text-align center

p
  margin-bottom 1em

h1
  font-size 1.5em
  margin 1.5em
  color #0057c5
  text-shadow 1px 1px 2px white

#content
  padding 50px

