!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    != SocketStream
    title Welcome
  body
    #content
      a(href='https://github.com/socketstream/socketstream')
        img(src='/images/logo.png', alt='SocketStream Logo', width=160, height=160)
      h1 Welcome to your new realtime app!
      
      // QUICK CHAT DEMO
      form#demo(onsubmit='return false')
        h3 Quick Chat Demo
        h5 Open this page in multiple tabs or browsers and type a message below
        #chatlog
        input(id='myMessage', type='text', autocomplete='off')
