p .content code {
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.content {
    border-radius: 3px;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.5);
    margin-top: -5px; /* align content with top of nav box */
}

.content h1 {
    display: none;
}

.content a {
    color: #b1e5eb;
}

.match > a, .nav > .match > a:hover, .nav > li > a:hover, .nav > li > a:focus {
    color: #fff;
    background-color: rgba(255,255,255,0.3);
}

.content h2:first-child {
    margin-top: 0px;
}

.nav-list > .active > a{
     background-color: #00aebf;
}


ul.methods {
    color: #000;
    text-shadow: none;
}

body,
html {
  height: 100%;
}
body {
  font: normal 1em;
  font-weight: 500;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  color: #fff;
  background: #58d758;
  background: -moz-linear-gradient(45deg, #58d758 8%, #45ccda 91%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(8%, #58d758), color-stop(91%, #45ccda));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #58d758 8%, #45ccda 91%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #58d758 8%, #45ccda 91%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #58d758 8%, #45ccda 91%);
/* IE10+ */
  background: linear-gradient(45deg, #58d758 8%, #45ccda 91%);
/* W3C */
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#58d758', endColorstr='#45ccda',GradientType=1)";
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin-top: 10px;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.jumbotron {
  background-color: transparent;
}
.jumbotron p {
  padding: 1em 0em;
}
.navbar-inner {
  background-image: none;
  background-color: rgba(255,255,255,0.6);
  border-color: rgba(255,255,255,0.6);
}
a.navbar-brand {
  color: #fff !important;
}
.navbar-default .navbar-nav li a {
  color: #fff;
}
.navbar-default .navbar-nav li a:hover {
  color: #fff;
}
.navbar-form input {
  background: rgba(0,0,0,0.05);
  color: #fff;
  border: solid 1px rgba(255,255,255,0.4);
  border-radius: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.navbar-form input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
pre {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background: #222;
  color: #a7e4a7;
}
code {
  background: #222;
  color: #a7e4a7;
}
code .yellow {
  color: #e9e100;
}
code .gray {
  color: #a8a8a8;
}
.center {
  text-align: center;
}
a {
  color: #fff;
}
.big {
  font-size: 72pt;
}
.medium {
  font-size: 48pt;
  padding: 10pt;
}
#features {
  margin-top: 120px;
}
#features span {
  font-size: 12pt;
  line-height: 1 !important;
}
.btn-tour {
  background: #0091ff;
  border-bottom: solid 3px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-tour:hover {
  border-bottom-color: rgba(0,0,0,0.1);
  color: #fff;
  background: #35a7ff;
}
footer {
  margin-top: 10em;
  padding-bottom: 0.5em;
}
footer .container {
  border-top: solid 1px #fff;
  padding-top: 0.5em;
}
.page-header small {
  margin-left: 10px;
  color: #fff;
  font-size: 12pt;
}
#guide ul {
  background: rgba(255,255,255,0.2);
  border: solid 1px rgba(255,255,255,0.4);
  border-radius: 5px;
}
#guide ul h3 {
  padding: 0em 0.5em 0.5em 0.5em;
  border-bottom: solid 1px rgba(255,255,255,0.4);
  text-align: center;
}
#guide ul li {
  color: #f00;
}
ul.appStructure li {
  display: block;
  list-display-style: block;
  padding: 0.3em;
}
.calendar {
  text-align: center;
  float: left;
  width: 50px;
  color: #000;
  font-weight: bold;
  margin-right: 1em;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
  border-radius: 3px;
}
.calendar .date {
  background: #fff;
  font-size: 14pt;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.calendar .month {
  background: #f00;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: #fff;
}
.thumbnail {
  background-color: transparent;
  border-color: #fff;
}
.thumbnail h3 {
  color: #fff;
}
.thumbnail p {
  color: #fff;
}

ul.breadcrumb, .well {
  background: rgba(0,0,0,0.4);
  border-color: rgba(255,255,255,0.2);
}

ul.breadcrumb > li, .nav-list > li > a, .nav-list .nav-header {
  text-shadow: none;
}


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: rgba(0,0,0,0.4);
  color: white;
}

input[type="text"]::-webkit-input-placeholder {
  color: #f1f1f1;
}

input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #f1f1f1;  
}

input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
  color: #f1f1f1;  
}

input[type="text"]:-ms-input-placeholder {  
   color: #f1f1f1;  
}
