!!! 5
html(lang="en")
  head
    != SocketStream
    title Welcome
  body
    #content
      img(src='/images/logo.png', alt='SocketStream Logo', width=167, height=159)
      h1 Welcome to your new real time app!
      p#message Attempting to connect to the server over websockets or flashsockets...
      |Until we make this the beautiful, helpful starter page it should be, please check out the docs on
      a(href='https://github.com/socketstream/socketstream') github

