// Helper functions

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args
  
round(n)
  vendor border-radius, n
  
round-corner(tb, lr, n)
  border-{tb}\-{lr}-radius n
  -moz-border-radius-{tb}{lr} n
  
box-shadow()
  vendor box-shadow, arguments

opacity(n)
  opacity n
  -moz-opacity n

vertical-gradient(from, to)
  background-color to
  background-image -webkit-gradient(linear, left top, left bottom, from(from), to(to))
  background-image -moz-linear-gradient(top, from, to)
